* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none; 
}

.container {
  margin: 0 auto;
  width: 90%;
}
