// Color Variables
$gray: #C4C4C4;
$white: #FFF;
$green: #53C273;
$green-hover: #57CC74;
$btn-selection-default: #5B93FF;
$btn-selection-selected: #4A78D2;
$box-shadow-default: 2px 2px 6px rgba(0, 0, 0, 0.3);
$box-shadow-hover: 3px 3px 10px rgba(0, 0, 0, 0.2);

.btn-group {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin: 0 0 0 auto;
  width: 50%;
}

.btn {
  display: inline-block;
  border-radius: 15px;
  box-shadow: $box-shadow-default;
  color: #000;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: bold;
  margin: 0.75em 0;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  transition: ease 400ms;

  &:hover {
    box-shadow: $box-shadow-hover;
  }
}

.btn-solid {
  border: none;
}

.btn-outline {
 border: 2px solid $gray;
 background: none;
 color: $gray;

 &:hover{
    background-color: $gray; 
    color: $white;
 }
}

.btn-green {
  background-color: $green;
  
  &:hover{
    background-color: $green-hover;
  }
}

.btn-image {
  border: none;
  background: none;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  transition: ease 300ms;

  &:hover {
    transform: scale(1.10);
  }
}

.btn-selection {
  background-color: $btn-selection-default;
  border: none;
  border-radius: 50%;
  box-shadow: $box-shadow-default;
  color: $white;
  font-size: 2.5rem;
  margin: 0 0.5rem;
  padding: 1rem;
  text-align: center;
  transition: ease 200ms;
  height: auto;
  width: 25%;

  &:hover{
    box-shadow: $box-shadow-hover;
    transform: scale(1.03);
  }
}

.btn-selection-selected {
  background-color:$btn-selection-selected;
  box-shadow: $box-shadow-hover;
  transform: scale(1.03);
}

.user-page .btn-group{
  a{
    width: 100%;
  }
}