$red-block: #EE7A7A;
$blue-block: #91B7F1;
$orange-block: #E9BE6B;

/* General Styles
-------------------*/
.color-block {
  box-shadow: 2px 4px 4px rgba(0,0,0,0.100);
  position: absolute;
  left: -50px;
  z-index: -1;
}

/* Blocks Per Section
-----------------------*/

.welcome-page .color-block {
  background-color: $red-block;
  height: 12%;
  width: 0%;
  top: 53px;

  animation: red-block-animate 600ms ease 1s forwards;
}

.instructions-page .color-block {
  background-color: $blue-block;
  height: 25%;
  width: 0%;
  top: 8px;

 animation: blue-block-animate 600ms ease 1s forwards;
}

.user-page .color-block{
  background-color: $orange-block;
  height: 35%;
  width: 0%;
  top: 9px;

  animation: orange-block-animate 600ms ease 1s forwards;
}

/* Animations 
---------------*/
@keyframes red-block-animate {
  from {
    width: 0;
  }

  65% {
    width: 80%;
  }

  to {
    width: 78%;
  }
}

@keyframes blue-block-animate {
  from {
    width: 0;
  }

  65% {
    width: 70%;
  }

  to {
    width: 68%;
  }
}

@keyframes orange-block-animate {
  from {
    width: 0;
  }

  65% {
    width: 65%;
  }

  to {
    width: 62%;
  }
}
