/* Color Variables
------------------------*/
$opacity : rgba(0,0,0,0);
$selected : #5B93FF;
$gray : #C2C2C2;
$dim-gray: #D5D5D5;
$white: #FFF;
$box-shadow: rgba(0,0,0,0.1);
$user-msg-container: #7EC4E5;
$comp-msg-container: #EBEBEB;
$warning-color: #BF4149;

/* Global Headers
------------------------*/
section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.5em 0;
  height: 100vh;
}

header,
h2,
p,
ul
{
  align-self: flex-start;
}

header {
  position: relative;
  width: 100%;
}

/* Welcome Page 
------------------------*/
.welcome-page header {
  h1 {
    font-size: 3.8125rem;
    font-weight: bold;
    line-height: 4.75rem;
    margin: 0.5em 0;
  }
}

/* Instruction Page
------------------------*/
.instructions-page li {
  list-style: none;
  margin-left: 1em;
  line-height: 1.5;
}

.instructions-page h2,
.instructions-page .subheader {
  margin-bottom: 2rem;
}

.instructions-page p{
  margin-bottom: 0.875rem;
}

/* User Page
------------------------*/
.user-page h2 {
  margin-bottom: 0.75rem;
}

.avatar-container {
  margin: 2rem 0;
}

.avatar-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.avatar-row figure {
  // add the border when input is selected via JS
  border: 2px solid $opacity;
  border-radius: 50%;
  margin: 0.5rem 0.25rem;
  overflow: hidden;
  position: relative;
  width: 75px;
  height: 75px;

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.user-page .form-group {
  position: relative;
  width: 100%;
  
  label {
    color: $dim-gray;
    position: absolute;
    top: 10px;
    left: 20px;
    transition: ease 300ms;
  }

  input[type="text"] {
    background-color: $opacity;
    border: 2px solid $dim-gray;
    border-radius: 15px;
    padding: 0.5rem;
    width: 100%;

    &:focus {
      border-color: $selected;
      outline: none;
    }

    &:focus + label {
      background-color: $white;
      color: $selected;
      font-size: 0.875rem;
      font-weight: bold;
      padding: 0 0.25rem;
      top: -12px;
    }
  }
}

.warning-msg {
  color: $warning-color;
  font-size: 0.75rem;
  padding: 0.25rem 0;
  text-align: center;
  visibility: hidden;
}

/* Game Page
------------------------*/
.game-page header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.game-page{
  header{
    box-shadow: 0px 4px 6px $box-shadow;
    flex-direction: column;
    padding-bottom: 1.25rem;

    a {
      margin-bottom: 1.5rem;
    }
  }

  .score-container,
  .selection-window {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }

  .user-container,
  .set-score-container,
  .comp-container{
    width: 33.3%;
    text-align: center;

    h3{
      font-weight: normal;
      font-size: 1rem;
    }

    p{
      font-size: 2rem;  
      font-weight: bold;
    }

    input[type="number"]{
      border: 1px solid $dim-gray;
      border-radius: 8px;
      font-size: 2rem;
      height: 2.5rem;
      padding: 1rem 0 1rem 1rem;
      width: 3.5rem;
      text-align: center;
    }
  }

  .game-window{
    height: 70vh;
    width: 100%;
    padding: 2rem 0;
  }

  .msg-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 2rem 0;
    
    figure {
      border-radius: 50%;
      margin: 0 1.25rem 0 1.5rem;
      overflow: hidden;
      height: 50px;
      width: 50px;
    }

    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }

    p{
      border-radius: 15px;
      padding: 1rem 2rem;
      font-weight: bold;
      font-size: 1.125rem;
      text-transform: uppercase;
    }
  }

  .user-msg-container {
    justify-content: flex-end;

    p {
      background-color: $selected;
    }
  }

  .comp-msg-container {
    justify-content: flex-start;

    p {
      background-color: $comp-msg-container;
    }
  }

  .selection-window {
    box-shadow: 0px -4px 4px $box-shadow;
    padding: 1.5rem 0;

    .container{
      text-align: center;
    }
  }
}

.d-none {
  display: none;
}

