* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 90%;
}

/* Color Variables
------------------------*/
/* Global Headers
------------------------*/
section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.5em 0;
  height: 100vh;
}

header,
h2,
p,
ul {
  align-self: flex-start;
}

header {
  position: relative;
  width: 100%;
}

/* Welcome Page 
------------------------*/
.welcome-page header h1 {
  font-size: 3.8125rem;
  font-weight: bold;
  line-height: 4.75rem;
  margin: 0.5em 0;
}

/* Instruction Page
------------------------*/
.instructions-page li {
  list-style: none;
  margin-left: 1em;
  line-height: 1.5;
}

.instructions-page h2,
.instructions-page .subheader {
  margin-bottom: 2rem;
}

.instructions-page p {
  margin-bottom: 0.875rem;
}

/* User Page
------------------------*/
.user-page h2 {
  margin-bottom: 0.75rem;
}

.avatar-container {
  margin: 2rem 0;
}

.avatar-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.avatar-row figure {
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  margin: 0.5rem 0.25rem;
  overflow: hidden;
  position: relative;
  width: 75px;
  height: 75px;
}
.avatar-row figure img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.user-page .form-group {
  position: relative;
  width: 100%;
}
.user-page .form-group label {
  color: #D5D5D5;
  position: absolute;
  top: 10px;
  left: 20px;
  transition: ease 300ms;
}
.user-page .form-group input[type=text] {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #D5D5D5;
  border-radius: 15px;
  padding: 0.5rem;
  width: 100%;
}
.user-page .form-group input[type=text]:focus {
  border-color: #5B93FF;
  outline: none;
}
.user-page .form-group input[type=text]:focus + label {
  background-color: #FFF;
  color: #5B93FF;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0 0.25rem;
  top: -12px;
}

.warning-msg {
  color: #BF4149;
  font-size: 0.75rem;
  padding: 0.25rem 0;
  text-align: center;
  visibility: hidden;
}

/* Game Page
------------------------*/
.game-page header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.game-page header {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  padding-bottom: 1.25rem;
}
.game-page header a {
  margin-bottom: 1.5rem;
}
.game-page .score-container,
.game-page .selection-window {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
.game-page .user-container,
.game-page .set-score-container,
.game-page .comp-container {
  width: 33.3%;
  text-align: center;
}
.game-page .user-container h3,
.game-page .set-score-container h3,
.game-page .comp-container h3 {
  font-weight: normal;
  font-size: 1rem;
}
.game-page .user-container p,
.game-page .set-score-container p,
.game-page .comp-container p {
  font-size: 2rem;
  font-weight: bold;
}
.game-page .user-container input[type=number],
.game-page .set-score-container input[type=number],
.game-page .comp-container input[type=number] {
  border: 1px solid #D5D5D5;
  border-radius: 8px;
  font-size: 2rem;
  height: 2.5rem;
  padding: 1rem 0 1rem 1rem;
  width: 3.5rem;
  text-align: center;
}
.game-page .game-window {
  height: 70vh;
  width: 100%;
  padding: 2rem 0;
}
.game-page .msg-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 2rem 0;
}
.game-page .msg-container figure {
  border-radius: 50%;
  margin: 0 1.25rem 0 1.5rem;
  overflow: hidden;
  height: 50px;
  width: 50px;
}
.game-page .msg-container img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.game-page .msg-container p {
  border-radius: 15px;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.125rem;
  text-transform: uppercase;
}
.game-page .user-msg-container {
  justify-content: flex-end;
}
.game-page .user-msg-container p {
  background-color: #5B93FF;
}
.game-page .comp-msg-container {
  justify-content: flex-start;
}
.game-page .comp-msg-container p {
  background-color: #EBEBEB;
}
.game-page .selection-window {
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 0;
}
.game-page .selection-window .container {
  text-align: center;
}

.d-none {
  display: none;
}

.btn-group {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin: 0 0 0 auto;
  width: 50%;
}

.btn {
  display: inline-block;
  border-radius: 15px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  color: #000;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: bold;
  margin: 0.75em 0;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  transition: ease 400ms;
}
.btn:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.btn-solid {
  border: none;
}

.btn-outline {
  border: 2px solid #C4C4C4;
  background: none;
  color: #C4C4C4;
}
.btn-outline:hover {
  background-color: #C4C4C4;
  color: #FFF;
}

.btn-green {
  background-color: #53C273;
}
.btn-green:hover {
  background-color: #57CC74;
}

.btn-image {
  border: none;
  background: none;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  transition: ease 300ms;
}
.btn-image:hover {
  transform: scale(1.1);
}

.btn-selection {
  background-color: #5B93FF;
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  color: #FFF;
  font-size: 2.5rem;
  margin: 0 0.5rem;
  padding: 1rem;
  text-align: center;
  transition: ease 200ms;
  height: auto;
  width: 25%;
}
.btn-selection:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}

.btn-selection-selected {
  background-color: #4A78D2;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}

.user-page .btn-group a {
  width: 100%;
}

/* General Styles
-------------------*/
.color-block {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: -50px;
  z-index: -1;
}

/* Blocks Per Section
-----------------------*/
.welcome-page .color-block {
  background-color: #EE7A7A;
  height: 12%;
  width: 0%;
  top: 53px;
  animation: red-block-animate 600ms ease 1s forwards;
}

.instructions-page .color-block {
  background-color: #91B7F1;
  height: 25%;
  width: 0%;
  top: 8px;
  animation: blue-block-animate 600ms ease 1s forwards;
}

.user-page .color-block {
  background-color: #E9BE6B;
  height: 35%;
  width: 0%;
  top: 9px;
  animation: orange-block-animate 600ms ease 1s forwards;
}

/* Animations 
---------------*/
@keyframes red-block-animate {
  from {
    width: 0;
  }
  65% {
    width: 80%;
  }
  to {
    width: 78%;
  }
}
@keyframes blue-block-animate {
  from {
    width: 0;
  }
  65% {
    width: 70%;
  }
  to {
    width: 68%;
  }
}
@keyframes orange-block-animate {
  from {
    width: 0;
  }
  65% {
    width: 65%;
  }
  to {
    width: 62%;
  }
}

/*# sourceMappingURL=main.css.map */
